body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1304px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u14399 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:20px;
  width:300px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u14400 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:296px;
  word-wrap:break-word;
}
#u14401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14401 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:170px;
  width:100px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14402 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u14403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u14403 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:143px;
  width:120px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14404 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u14405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:77px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u14405 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:143px;
  width:177px;
  height:77px;
  color:#FFFFFF;
}
#u14406 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u14407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:51px;
}
#u14407 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:280px;
  width:135px;
  height:50px;
  text-align:left;
}
#u14408 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:131px;
  word-wrap:break-word;
}
#u14409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u14409 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:410px;
  width:100px;
  height:60px;
}
#u14410 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u14411 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:210px;
  width:0px;
  height:0px;
}
#u14411_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u14411_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:57px;
  width:20px;
  height:20px;
}
#u14412 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14413 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:330px;
  width:0px;
  height:0px;
}
#u14413_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u14413_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:67px;
  width:20px;
  height:20px;
}
#u14414 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u14415 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:570px;
  width:120px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14416 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u14417 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:470px;
  width:0px;
  height:0px;
}
#u14417_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:124px;
}
#u14417_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:116px;
  width:184px;
  height:8px;
}
#u14417_seg2 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:110px;
  width:20px;
  height:20px;
}
#u14418 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:112px;
  width:100px;
  word-wrap:break-word;
}
#u14419 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:440px;
  width:0px;
  height:0px;
}
#u14419_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u14419_seg1 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-139px;
  width:8px;
  height:143px;
}
#u14419_seg2 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-139px;
  width:37px;
  height:8px;
}
#u14419_seg3 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-145px;
  width:20px;
  height:20px;
}
#u14420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-67px;
  width:100px;
  word-wrap:break-word;
}
#u14421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14421 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:248px;
  width:100px;
  height:45px;
}
#u14422 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u14423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14423 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:248px;
  width:100px;
  height:45px;
}
#u14424 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u14425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14425 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:248px;
  width:100px;
  height:45px;
}
#u14426 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u14427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
#u14427 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:343px;
  width:100px;
  height:50px;
}
#u14428 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u14429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u14429 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:343px;
  width:150px;
  height:50px;
  text-align:left;
}
#u14430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u14431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u14431 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:453px;
  width:100px;
  height:60px;
}
#u14432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u14433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:51px;
}
#u14433 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:343px;
  width:130px;
  height:50px;
}
#u14434 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:126px;
  word-wrap:break-word;
}
#u14435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u14435 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:450px;
  width:100px;
  height:60px;
}
#u14436 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u14437 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:183px;
  width:0px;
  height:0px;
}
#u14437_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u14437_seg1 {
  border-width:0px;
  position:absolute;
  left:-202px;
  top:43px;
  width:206px;
  height:8px;
}
#u14437_seg2 {
  border-width:0px;
  position:absolute;
  left:-202px;
  top:43px;
  width:8px;
  height:22px;
}
#u14437_seg3 {
  border-width:0px;
  position:absolute;
  left:-208px;
  top:52px;
  width:20px;
  height:20px;
}
#u14438 {
  border-width:0px;
  position:absolute;
  left:-134px;
  top:39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14439 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:183px;
  width:0px;
  height:0px;
}
#u14439_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u14439_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:43px;
  width:188px;
  height:8px;
}
#u14439_seg2 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:43px;
  width:8px;
  height:22px;
}
#u14439_seg3 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:52px;
  width:20px;
  height:20px;
}
#u14440 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14441 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:183px;
  width:0px;
  height:0px;
}
#u14441_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u14441_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:52px;
  width:20px;
  height:20px;
}
#u14442 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14443 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:293px;
  width:0px;
  height:0px;
}
#u14443_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u14443_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u14444 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14445 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:293px;
  width:0px;
  height:0px;
}
#u14445_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u14445_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u14446 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14447 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:293px;
  width:0px;
  height:0px;
}
#u14447_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u14447_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u14448 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14449 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:393px;
  width:0px;
  height:0px;
}
#u14449_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u14449_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:44px;
  width:20px;
  height:20px;
}
#u14450 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14451 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:480px;
  width:0px;
  height:0px;
}
#u14451_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u14451_seg1 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-321px;
  width:8px;
  height:325px;
}
#u14451_seg2 {
  border-width:0px;
  position:absolute;
  left:-170px;
  top:-321px;
  width:234px;
  height:8px;
}
#u14451_seg3 {
  border-width:0px;
  position:absolute;
  left:-177px;
  top:-327px;
  width:20px;
  height:20px;
}
#u14452 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-252px;
  width:100px;
  word-wrap:break-word;
}
#u14453 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:480px;
  width:0px;
  height:0px;
}
#u14453_seg0 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-4px;
  width:34px;
  height:8px;
}
#u14453_seg1 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-116px;
  width:8px;
  height:120px;
}
#u14453_seg2 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-116px;
  width:19px;
  height:8px;
}
#u14453_seg3 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-122px;
  width:20px;
  height:20px;
}
#u14454 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-56px;
  width:100px;
  word-wrap:break-word;
}
#u14455 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:393px;
  width:0px;
  height:0px;
}
#u14455_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u14455_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:47px;
  width:20px;
  height:20px;
}
#u14456 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14457 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:513px;
  width:0px;
  height:0px;
}
#u14457_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:81px;
}
#u14457_seg1 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:73px;
  width:86px;
  height:8px;
}
#u14457_seg2 {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:67px;
  width:20px;
  height:20px;
}
#u14458 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:69px;
  width:100px;
  word-wrap:break-word;
}
#u14459 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:483px;
  width:0px;
  height:0px;
}
#u14459_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u14459_seg1 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-119px;
  width:8px;
  height:123px;
}
#u14459_seg2 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-119px;
  width:27px;
  height:8px;
}
#u14459_seg3 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-125px;
  width:20px;
  height:20px;
}
#u14460 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-53px;
  width:100px;
  word-wrap:break-word;
}
#u14461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u14461 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:850px;
  width:120px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14462 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u14463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u14463 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:680px;
  width:100px;
  height:60px;
}
#u14464 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u14465 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:610px;
  width:0px;
  height:0px;
}
#u14465_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u14465_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:57px;
  width:20px;
  height:20px;
}
#u14466 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14467 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:740px;
  width:0px;
  height:0px;
}
#u14467_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:114px;
}
#u14467_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:97px;
  width:20px;
  height:20px;
}
#u14468 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:47px;
  width:100px;
  word-wrap:break-word;
}
#u14469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14469 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:690px;
  width:81px;
  height:40px;
}
#u14470 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u14471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14471 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:690px;
  width:81px;
  height:40px;
}
#u14472 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u14473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14473 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:690px;
  width:81px;
  height:40px;
}
#u14474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u14475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14475 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:690px;
  width:81px;
  height:40px;
}
#u14476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u14477 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:710px;
  width:0px;
  height:0px;
}
#u14477_seg0 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-4px;
  width:64px;
  height:8px;
}
#u14477_seg1 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-474px;
  width:8px;
  height:478px;
}
#u14477_seg2 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-474px;
  width:114px;
  height:8px;
}
#u14477_seg3 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-480px;
  width:20px;
  height:20px;
}
#u14478 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-268px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14479 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:710px;
  width:0px;
  height:0px;
}
#u14479_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u14479_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:117px;
  height:8px;
}
#u14479_seg2 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:-443px;
  width:8px;
  height:447px;
}
#u14479_seg3 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:-443px;
  width:64px;
  height:8px;
}
#u14479_seg4 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:-449px;
  width:20px;
  height:20px;
}
#u14480 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-203px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14481 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:610px;
  width:0px;
  height:0px;
}
#u14481_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u14481_seg1 {
  border-width:0px;
  position:absolute;
  left:-253px;
  top:36px;
  width:257px;
  height:8px;
}
#u14481_seg2 {
  border-width:0px;
  position:absolute;
  left:-253px;
  top:36px;
  width:8px;
  height:44px;
}
#u14481_seg3 {
  border-width:0px;
  position:absolute;
  left:-259px;
  top:67px;
  width:20px;
  height:20px;
}
#u14482 {
  border-width:0px;
  position:absolute;
  left:-174px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14483 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:610px;
  width:0px;
  height:0px;
}
#u14483_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u14483_seg1 {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:36px;
  width:128px;
  height:8px;
}
#u14483_seg2 {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:36px;
  width:8px;
  height:44px;
}
#u14483_seg3 {
  border-width:0px;
  position:absolute;
  left:-130px;
  top:67px;
  width:20px;
  height:20px;
}
#u14484 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14485 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:610px;
  width:0px;
  height:0px;
}
#u14485_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u14485_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:36px;
  width:141px;
  height:8px;
}
#u14485_seg2 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:36px;
  width:8px;
  height:44px;
}
#u14485_seg3 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:67px;
  width:20px;
  height:20px;
}
#u14486 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14487 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:610px;
  width:0px;
  height:0px;
}
#u14487_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u14487_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:36px;
  width:269px;
  height:8px;
}
#u14487_seg2 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:36px;
  width:8px;
  height:44px;
}
#u14487_seg3 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:67px;
  width:20px;
  height:20px;
}
#u14488 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
#u14489 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:790px;
  width:100px;
  height:50px;
}
#u14490 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u14491 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:730px;
  width:0px;
  height:0px;
}
#u14491_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u14491_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:47px;
  width:20px;
  height:20px;
}
#u14492 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14493 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:944px;
  width:81px;
  height:40px;
}
#u14494 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u14495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
#u14495 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:1030px;
  width:100px;
  height:50px;
}
#u14496 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u14497 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:890px;
  width:0px;
  height:0px;
}
#u14497_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u14497_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:41px;
  width:20px;
  height:20px;
}
#u14498 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14499 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:984px;
  width:0px;
  height:0px;
}
#u14499_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u14499_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u14500 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u14501 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:1140px;
  width:300px;
  height:170px;
}
#u14502 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
