body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:787px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8805 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:190px;
  width:652px;
  height:223px;
}
#u8806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:52px;
}
#u8806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8807 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u8808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:52px;
}
#u8808 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:0px;
  width:475px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8809 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:471px;
  word-wrap:break-word;
}
#u8810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:52px;
}
#u8810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:172px;
  height:52px;
}
#u8811 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u8812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:52px;
}
#u8812 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:52px;
  width:475px;
  height:52px;
  text-align:left;
}
#u8813 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:471px;
  word-wrap:break-word;
}
#u8814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:44px;
}
#u8814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:104px;
  width:172px;
  height:44px;
}
#u8815 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:168px;
  word-wrap:break-word;
}
#u8816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:44px;
}
#u8816 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:104px;
  width:475px;
  height:44px;
  text-align:left;
}
#u8817 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:471px;
  word-wrap:break-word;
}
#u8818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:70px;
}
#u8818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:172px;
  height:70px;
}
#u8819 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:168px;
  word-wrap:break-word;
}
#u8820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:70px;
}
#u8820 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:148px;
  width:475px;
  height:70px;
  text-align:left;
}
#u8821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:471px;
  word-wrap:break-word;
}
