body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:787px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10154 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:190px;
  width:652px;
  height:459px;
}
#u10155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:52px;
}
#u10155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10156 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u10157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:52px;
}
#u10157 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:0px;
  width:475px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10158 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:471px;
  word-wrap:break-word;
}
#u10159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:68px;
}
#u10159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:172px;
  height:68px;
}
#u10160 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:168px;
  word-wrap:break-word;
}
#u10161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:68px;
}
#u10161 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:52px;
  width:475px;
  height:68px;
  text-align:left;
}
#u10162 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:471px;
  word-wrap:break-word;
}
#u10163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:99px;
}
#u10163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:172px;
  height:99px;
}
#u10164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:168px;
  word-wrap:break-word;
}
#u10165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:99px;
}
#u10165 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:120px;
  width:475px;
  height:99px;
  text-align:left;
}
#u10166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:471px;
  word-wrap:break-word;
}
#u10167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:69px;
}
#u10167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:219px;
  width:172px;
  height:69px;
}
#u10168 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:168px;
  word-wrap:break-word;
}
#u10169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:69px;
}
#u10169 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:219px;
  width:475px;
  height:69px;
  text-align:left;
}
#u10170 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:471px;
  word-wrap:break-word;
}
#u10171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:52px;
}
#u10171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:288px;
  width:172px;
  height:52px;
}
#u10172 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u10173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:52px;
}
#u10173 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:288px;
  width:475px;
  height:52px;
  text-align:left;
}
#u10174 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:471px;
  word-wrap:break-word;
}
#u10175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:44px;
}
#u10175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:340px;
  width:172px;
  height:44px;
}
#u10176 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:168px;
  word-wrap:break-word;
}
#u10177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:44px;
}
#u10177 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:340px;
  width:475px;
  height:44px;
  text-align:left;
}
#u10178 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:471px;
  word-wrap:break-word;
}
#u10179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:70px;
}
#u10179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:384px;
  width:172px;
  height:70px;
}
#u10180 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:168px;
  word-wrap:break-word;
}
#u10181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:70px;
}
#u10181 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:384px;
  width:475px;
  height:70px;
  text-align:left;
}
#u10182 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:471px;
  word-wrap:break-word;
}
