body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:787px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10116 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:190px;
  width:652px;
  height:391px;
}
#u10117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:52px;
}
#u10117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u10119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:52px;
}
#u10119 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:0px;
  width:475px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:471px;
  word-wrap:break-word;
}
#u10121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:99px;
}
#u10121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:172px;
  height:99px;
}
#u10122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:168px;
  word-wrap:break-word;
}
#u10123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:99px;
}
#u10123 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:52px;
  width:475px;
  height:99px;
  text-align:left;
}
#u10124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:471px;
  word-wrap:break-word;
}
#u10125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:69px;
}
#u10125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:151px;
  width:172px;
  height:69px;
}
#u10126 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:168px;
  word-wrap:break-word;
}
#u10127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:69px;
}
#u10127 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:151px;
  width:475px;
  height:69px;
  text-align:left;
}
#u10128 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:471px;
  word-wrap:break-word;
}
#u10129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:52px;
}
#u10129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:172px;
  height:52px;
}
#u10130 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u10131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:52px;
}
#u10131 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:220px;
  width:475px;
  height:52px;
  text-align:left;
}
#u10132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:471px;
  word-wrap:break-word;
}
#u10133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:44px;
}
#u10133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:272px;
  width:172px;
  height:44px;
}
#u10134 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:168px;
  word-wrap:break-word;
}
#u10135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:44px;
}
#u10135 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:272px;
  width:475px;
  height:44px;
  text-align:left;
}
#u10136 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:471px;
  word-wrap:break-word;
}
#u10137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:70px;
}
#u10137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:316px;
  width:172px;
  height:70px;
}
#u10138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:168px;
  word-wrap:break-word;
}
#u10139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:70px;
}
#u10139 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:316px;
  width:475px;
  height:70px;
  text-align:left;
}
#u10140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:471px;
  word-wrap:break-word;
}
